<div class="main-contents-header">
  <div class="header-title">お知らせ</div>
</div>
<div class="notice_lists">
  <% @notices.each do |notice| %>
    <div class="notice">
      <li><%= notice.content %></li>
      <P>(<%= notice.created_at.strftime("%Y年%m月%d日 %H:%M") %>)</P>

    </div>
  <% end %>
</div>